@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: "#fffff";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.bg-section {
  position: relative;
  overflow: hidden;
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  filter: blur(8px) brightness(50%);
  transition: background-image 0.5s ease;
}

.content {
  position: relative;
  z-index: 2;
}

.custom-img {
  object-fit: cover;
  height: 700px;
  width: 100%;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.custom-img:hover {
  filter: grayscale(0%);
}

.list-container {
  width: 20%;
  transition: width 0.5s ease-in-out;
}

.list-container:hover {
  width: 600px;
}

.image-across-text {
  text-align: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  display: inline;
  line-height: 1;
  background-image: url("/images/ad4.jpg");
  background-size: cover;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  line-height: 90px;
}
